/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-image: var(--background-gradient);
  background-size: cover;
  font-family: var(--main-font), sans-serif;
  font-size: 1.125rem;
  line-height: 1.3125rem;
  font-variation-settings: 'wght' var(--weight-main-font);
  background-attachment: fixed;
}

.surface {
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.container {
  margin-inline: auto;
  inline-size: var(--section-size);
}

.header {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content;
  padding-block: clamp(122px, calc(122px + (100vw - 370px) * 8 / 1070), 130px);
  font-family: var(--accent-font), serif;
  text-transform: uppercase;
  place-items: end center;
  margin-block-start: 100px;
}

.header__logo {
  font-size: clamp(49px, calc(49px + (100vw - 375px) * 16 / 1065), 65px);
  line-height: 1
}

.header__title {
  font-size: clamp(14px, calc(14px + (100vw - 375px) * 9 / 1065), 23px);
  line-height: 1;
  place-self: start center;
}